body{
    background-color: #333;
    padding-top: 45px;
    overflow-y: scroll;
}
a{
    color: steelblue;
}

.brand{
    height: 24px;
    overflow: hidden;
}

.brand img{
    margin-top: -11px;
    margin-left: -60px;
    position: absolute;
    height: 48px;
    width: 48px;
}

#content_d3{
    overflow: auto;
    text-align: center;
}

#content_d3 svg{
    display: inline;
}

#panes .pane, #content_d3{
    background-color: #eee;
    border-radius: 2px;
}



#panes h2{
    position: absolute;
    float: right;
    height: 100px;
    margin-top: 72%;
    margin-left: 32%;

    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#panes h2, #logo, .transparent{
    /* Theoretically for IE 8 & 9 (more valid) */	
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=20);
	
    /* Older than Firefox 0.9 */
    -moz-opacity:0.2;
	
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.2;
    
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.2;
}

#panes .half_height h2{
    height: 100px;
    margin-top:30%;
    margin-left: 35%;
}

#panes #content_d3 h2{
    margin-left: 42%;    
}

#content_xml{
    display: none;
    text-align: center;
}

#content_javascript .CodeMirror pre{
    font-size: 10px;
}

iframe{
    width: 100%;
    height: 100%;
    border-style: none;
}
footer{
    text-align: center;
    color: #fff;
    background-color: #333;
}
.container-fluid{
    padding: 5px;
}

#navbar{
    position: fixed;
}
#navbar .active{
    border-bottom: solid 2px steelblue;
}

#file_form{
    display:none;
}
#alert{
    position: fixed;
    top: 140px;
    width: 50%;
    margin-left: 25%;
    display: none;
}
#alert ul{
    height: 200px;
    overflow-y: auto;
    padding: 5px;
}
#show_alerts{
    display:none;
}
#navbar .btn{
    height: 20px;
    display: inline-block;
}

#gh_ribbon{
    position: fixed;
    top:0;
    left:0;
    
}
#actions{
    margin-right:50px;
}

.resize{
    .float:left;
}
.half_height{
    margin-bottom:10px;
}