body{
    overflow-y: scroll;
    overflow-x: hidden;
}

.brand{
    height: 24px;
    overflow: hidden;
}

.brand img{
    margin-top: -11px;
    margin-left: -60px;
    position: absolute;
    height: 48px;
    width: 48px;
}

#container{
    position: relative;
}

#content_d3{
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

#content_d3 svg{
    display: inline;
}

#panes .pane, #content_d3{
    border-radius: 2px;
    margin:5px;
    position: relative;
}

#navbar #stop{
    display: none;
}

#panes h2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#panes .half_height h2{
}

#panes h2, .transparent{
    /* Theoretically for IE 8 & 9 (more valid) */	
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=20);
	
    /* Older than Firefox 0.9 */
    -moz-opacity:0.2;
	
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.2;
    
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.2;
}

#content_xml{
    display: none;
    text-align: center;
}
#content_javascript {
    padding:0;
}

#content_javascript .CodeMirror pre{
    font-size: 10px;
}

iframe{
    width: 100%;
    height: 100%;
    border-style: none;
}
footer.well{
    text-align: center;
    padding: 0;
    margin:0;
}
footer p{
    margin: 0 5px;
}

.container-fluid{
    padding: 5px;
}

#navbar{
    position: fixed;
}

#file_form{
    display:none;
}
#alert{
    position: fixed;
    top: 140px;
    width: 50%;
    margin-left: 25%;
    display: none;
}
#alert ul{
    height: 200px;
    overflow-y: auto;
    padding: 5px;
}
#show_alerts{
    display:none;
}
#navbar .btn, #navbar .btn-group{
    display: inline-block;
    vertical-align:middle;
          padding: 5px;
          display:inline-block;
}


#actions .btn, #actions .btn-grp{
    padding: 5px;
    display:inline-block;
}

#gh_ribbon{
    position: fixed;
    top:0;
    left:0;
    
}
.resize{
    .float:left;
}
.half_height{
    margin-bottom:10px;
}