body {
  background-color: #ddd;
  font-family: 'ABeeZee', sans-serif;
  padding: 5px;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
td {
  vertical-align: top;
}
a {
    text-decoration: none;
    color: steelBlue;
}

#content_d3{
    background-color: #fff;
}

#powered_by{
    float:right; margin-right: 150px;
    color: #fff;
}

#tabRow td{
    text-align: center;
}

#tabRow td.tab, #tabRow .tabon, #tabRow .taboff{
    padding: 5px;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #fff;
}
#tabRow .tabon {
  background-color: #fff;
  color: steelBlue;
  border-top: solid 2px steelBlue;
}
#tabRow .taboff {
  cursor: pointer;
  background-color: #eee;
  color: #333;
  border-bottom: solid 2px #ddd;
}
#tabRow .taboff:hover {
  background-color: #efefef;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
td {
  padding: 0;
}

#content_xml, #content_javascript {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}
iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-top-style: none;
}
button {
  padding: 4px 6px;
  font-size: 90%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  background-color: steelBlue;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
#content_d3{
    height: 100%;
}

.codemirror{
    background-color: #fff;
}